.images {
  position: relative;
  width: 740px;
  min-height: 850px;
  margin: 50px auto;
}

.image {
  top: 0;
  position: absolute;
  width: 720px;
  height: 274px;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.35);
  transition: transform 0.8s ease, top 0.8s ease;
  filter: grayscale(100%);
}

.image:nth-child(1) {
  z-index: 3;
  transform: rotate(6deg);
}

.images:hover .image:nth-child(1) {
  transform: rotate(0);
}

.image:nth-child(2) {
  z-index: 2;
}

.images:hover .image:nth-child(2) {
  top: 299px;
}

.image:nth-child(3) {
  z-index: 1;
  transform: rotate(-6deg);
  filter: grayscale(100%) blur(3px);
}

.images:hover .image:nth-child(3) {
  top: 598px;
  transform: rotate(0);
}

.images .image:hover {
  filter: none;
}

.sizer {
  overflow: hidden;
  width: 720px;
  height: 274px;
}

img {
  display: block;
  width: 100%;
}
